


@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?irqw8o');
    src:  url('../fonts/icomoon.eot?irqw8o#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?irqw8o') format('truetype'),
      url('../fonts/icomoon.woff?irqw8o') format('woff'),
      url('../fonts/icomoon.svg?irqw8o#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }
  .icon-direction:before {
    content: "\e901";
    font-size: 3em;
    margin: 0 10px;
  }
  .icon-gmail:before {
    content: "\e902";
    color: #d14836;
    font-size: 3em;
    margin: 0 10px;
  }
  .icon-whatsapp:before {
    content: "\e903";
    color: #25d366;
    font-size: 3em;
    margin: 0 10px;
  }
  .icon-outlook:before {
    content: "\e904";
    color: #0072c6;
    font-size: 3em;
    margin: 0 10px;
  }
  

/* se cambia la fuente para el cuerpo en general */
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


/*se cambia la fuenta para los titulos*/
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

/*tamaño, color y margen para el h1*/
h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: whitesmoke;
    margin: 34px;
    text-align: center;
}

/* los textos en strong*/
h1 strong{
    color: rgb(221, 200, 155);
    text-decoration: underline;
}

/*texto para los h2 y configuracion*/
h2 {
    color: black;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    text-decoration: underline;
}

/*configraicon de la parte prinpial*/
.hero{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: wrap;
    
}

.hero .container{
    background-color: #b4aeae;
}


/*config de la imagen del hero*/
.heroImage{
    object-fit: cover;
    width: 330px;
    height: auto;
}

.hero h1{
    background-color: rgb(91 87 87 / 33%)
}

.projects{
    padding: 20px;
}

/*el articulo*/
.projectArticle {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: #b4aeae;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projectType,
.projectDate,
.projectUrl{
    margin: 10px 0;
}

.projectDescription{
    font-size: 20px;
}

.project strong{
    font-family: 'Open Sans', sans-serif;
}

.projectTitle{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.projectType{
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 10px;
}

.projectDetails{
    width: 50%;
}

.projectImageContainer{
    width: 35%;
}

.projectImageContainer img{
    max-width: 100%;
    border-radius: 8%;
}


.header{
    background-color: rgb(22, 48, 26);
    /* color: whitesmoke; */
    display: flex;
    justify-content: space-between;
    height: 70px;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
}

ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

.header a{
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit; 
    padding: 0 10px;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header img{
    width: 50px;
}

.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: whitesmoke;
}

.footer{
    color: whitesmoke;
    background-color: rgb(22, 48, 26);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer img{
    vertical-align: middle;
}

.footer a{
    color: whitesmoke;
}

/*la seccion*/
.experienceList{
    display: flex;
    flex-wrap: wrap;
}

.experienceListTitle{
    color: rgb(22, 48, 26);
    margin-left: 20px;
}

/*el articulo*/
.experience {
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
     background-color: blanchedalmond;
}

.experienceImage{
    width: 480px;
    height: 300px;
    object-fit: cover;
}

.experienceDetail {
    margin: 20px 15px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.experienceDescription{
    text-align: left;
}

.experienceUrl{
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    color: #056fff;
    border-radius: 5px;

}


.contact{
    background-color: rgb(22, 48, 26);
    color: white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social span{
    font-size: 10px;
}


/* .socialLink{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 10px;
} */


/* .socialLink.Whatapps{
    background-image: url('../images/whatsapp.png');
    background-repeat: no-repeat;
}

.socialLink.Gmail{
    background-image: url('../images/gmail-logo.png');
    background-repeat: no-repeat;
}


.socialLink.Hotmail{
    background-image: url('../images/outlook.png');
    background-repeat: no-repeat;
}

.socialLink.Direction{
    background-image: url('../images/gps.png');
    background-repeat: no-repeat;
} */

.formEmail input{
    border-color: whitesmoke;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/email.png');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    border-radius: 5px;
}

.formEmail button{
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}

.form-email h3{
    font-family: 'Open Sans', sans-serif;
}


.container{
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

@media screen and (max-width: 1023px) {
    .container{
        padding: 0 1em;
    }

    .hero{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;;
    }

    h1{
        font-size: 2em;
        z-index: 2;
    }

    .heroImage{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .experienceListTitle{
        margin-left: 0;
    }

    .contact{
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }

    .social{
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .formEmail button{
        margin: 2em auto;
    }
}

@media screen and (max-width: 767px) {

    .header{
        display: block;
        height: auto;
    }

    .header ol{
        display: block;
    }

    .header ol li{
        height: 50px;
    }

    .header a{
        justify-content: center;
        height: 40px;
        font-size: 2em; 
        text-decoration: underline; 
        margin-bottom: .5em;
        /* width: 100vw;
        height: 100vw; */
    }

    .header .logo{
        text-align: center;
    }

    .menu{
        position: fixed;
        background: rgb(0 0 0 / 87%);
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }

    .menu.is-active{
        left: 0;
    }

    .burger-button{
        display: block;
    }

    .project{
        padding: 0;
    }

    .experience{
        width: 100%;
        flex-shrink: initial;
    }

    .experienceImage{
        width: 100%;
    }

    
    .formEmail h3{
        margin-top: 0;
    }

   
}

@media screen and (max-width: 480px) {

    .projects{
        padding: 0;
    }

    .project{
        display: block;
    }

    .projectImageContainer{
        width: auto;
        text-align: center;
    }

    .projectDetails{
        
        width: 57%;

        margin: .3em 0;
    }

    .projectUrl{
        font-size: 1em;
    }

    .projectDate{
        font-size: .7em;
    }

    .projects h2{
    margin-bottom: 17px;
    font-size: 23px;
    }

    .projectDescription{
        font-size: 1em;
    }

    .experienceDetail{
        margin: -4em 1em 1em 1em;
    }
    
    .experienceListTitle{
    font-size: 1.5em;
    margin: 17px;
    }



}

@media screen and (max-width: 320px) {
    .hero h1{
        font-size: 19px;
    }

    .projectDetails{
        width: 100%;
    }

    .experienceListTitle{
        font-size: 1em;
        margin: 15px;
    }
}